{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <hr>

        {% for item in content %}
        <div>
           <h3>{{item.name}}</h3> 
            <p>Price: {{item.price}}</p>
            <p><a href="/category/{{item.category}}">Category: {{item.category}}</a></p>
            Description: {{item.desc}}
        </div>
        <div>
            <img src="{{item.photo}}"></img> 
            <button class="dark_blue"><a class="no_decoration" href="/listing/{{item.id}}">Go to page or link</a></button>
            <button class="dark_blue" id="{{item.id}}">Add to Watchlist</button>
        </div>
        
        
        <script>
            $("#{{item.id}}").on("click", function() {
                $.post('/addwatch/{{item.id}}');
                $(this).toggleClass('dark_blue');
                }
            );
        </script>
            {%empty%} 
            <p>Create a Listing!</p>
        {% endfor %}

       
        
{% endblock %}