$light-color: #9b1414;

textarea {
    min-height: 400px;
}

.unread {
    background-color: $light-color;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    a, a:hover {
        text-decoration: none;
        color: $light-color;
    }
}

.read {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #53e272!important;
}

