{% extends "layout.html" %}

{% block title %}
    Quotes
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="Ticker" name="symbol" placeholder="Example: META" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <div class="mt-5">
        <h2> Quotes </h2>
        <table class="centered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in price %}
                <tr>
                    <td>{{item["name"]}}</td>
                    <td>{{item["symbol"]}}</td>
                    <td>{{item["price"]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
